main {
        background-color: rgba(0, 0, 0, 0.745);
        max-width: 1300px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5%;
        margin-right: 5%;
        padding-right: 800px;
}

main h1 {
        color: white;
        font-weight: 700;
        letter-spacing: 0.36px;
        text-align: center;
        width: 1300px;
        padding-top: 10px;
        margin-top: 3%;
}

.main-div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
}

.footercart {
        color: white;
        text-align: center;
        margin-top: 5%;
        padding-bottom: 1%;
        bottom: 0%;
        font-size: 12px;
        font-family: Arial, Verdana, sans-serif;
        width: 1500px;
        position: fixed;
        font-weight: bold;
        letter-spacing: 0.05em;
        text-transform: uppercase;
}

.wrapper {
        display: flex;
}

.image-div {
        flex: 2;
}

.image-div img {
        height: auto;
        width: 90%;
        margin-top: 2%;
}

.product-details-container {
        flex: 2;
}

.product-details {
        display: flex;
        color: white;
        margin-top: 6%;
}

.details {
        text-align: left;
        margin-top: 3%;
}

.details h3 {
        margin: 0;
}

.close {
        margin-left: 250%;
        font-size: 35px;
        font-weight: 600;
        padding-top: 0%;
        color: white;
        background-color: rgba(0, 0, 0, 0.745);
}

.quantity-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.quantity select {
        width: 100px;
        height: 30px;
        text-align: left;
}

.bold {
        margin-top: 2%;
        font-weight: 600;
        color: white;
}

.subtotal {
        margin-top: 8%;
        margin-right: 10%;
        font-weight: 400;
        color: white;
}

.subtotal span {
        font-weight: 700;
}



.order-summary-container {
        flex: 3;
}

.order-summary {
        border: 1px solid #e0e0e0;
        width: 100%;
        padding: 30px 30px 70px 30px;
        color: white;
        border-collapse: collapse;
        margin-top: 2%;
        height: 60%;
}

.order-summary h4 {
        margin: 0;
}


.flex-div {
        display: flex;
        justify-content: space-between;
}

.flex-div p {
        font-weight: 600;
}

.cancelbold p {
        font-weight: 400;
}

.checkbox-container {
        display: flex;
        flex-direction: column;
}

.clickandcollect {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
}

.clickandcollect p {
        flex: 7;
}

.checkout {
        background-color: red;
        color: white;
        border-color: white;
        margin-top: 2%;
        height: 40px;
        width: 100%;
        font-weight: bolder;
}

.checkout:hover {
        transform: scale(1.02);
        border: 2px solid white;
}

.continue-shopping {
        margin-top: 2%;
        height: 40px;
        width: 100%;
        font-weight: bolder;
        color: black;
        background-color: white;
}

.continue-shopping:hover {
        transform: scale(1.02);
        border: 2px solid white;
}

#emptycontinue-shopping {
        margin-top: 2%;
        height: 40px;
        width: 100%;
        font-weight: bolder;
        color: black;
        background-color: white;
        display: none;
}

#emptycontinue-shopping:hover {
        transform: scale(1.02);
        border: 2px solid white;
}


.purchase-additional {
        color: #7d7d7d;
}

@media only screen and (max-width: 768px) {
        .wrapper {
                display: flex;
                flex-direction: column;
        }

}

.disprice {
        text-decoration-line: line-through;
}

#pemptycart {
        color: white;
        display: none;
        font-size: 21px;
        margin-top: 10%;
        text-align: center;
        padding-bottom: 10px;
        width: 100%;
}

.emptycart {
        margin-left: 90%;
        width: 400px;
        padding-bottom: 10px;
}